<h1>Should I take an umbrella?</h1>

<form action="/process_umbrella" method="post">
  <div>
    <label for="asdkjh">Where are you located?</label>
    <input id="asdkjh" type="text" name="user_loc">
  </div>

  <button>Submit</button>
</form>

<p>You last searched for:</p>

<ul>
  <li><%= cookies["last_location"] %>
  <li><%= cookies["last_lat"] %>
  <li><%= cookies["last_lng"] %>
</ul>
